body {
    margin: 0 30px;
    background-color: #EEEEEE;
    font-family: Helvetica, Arial, sans-serif;
}

.logo_simplon_mars {
    width: 10%;
    z-index: 1;
}
.poabsul{
  top: 0;
  left: 0;
}
.hid_ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav {
    margin-top: 100px;
}

.nav li:hover a {
    background-color: white;
    color: #488aab;
    border-left: 1px solid #488aab;
    border-right: 1px solid #488aab;
}

.nav li {
  z-index: 10;
}

.nav li a {
    color: #488aab;
    background-color: white;
    box-shadow: 0px 15px 45px 1px rgba(47, 48, 54, 0.25);
}

.toggle1l {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

ul, .show-menu {
  left:0;
}

.thumbnail {
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    height: calc(100% - 24px);
    width: calc(100% - 20px);
    opacity: 0;
}

.thumbnail:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

blockquote {
  font-size: 1em;
  padding: 5%;
}

.pclicon, .clicon{
  padding: 15px 10px;
}

nav .clicon {
  font-size: 2em;
}

.thumbnail .clicon{
  padding: 15px 2%;
  font-size: 2em;
}


.btn {
    width: 60%;
    margin: 5px;
}

/* == FOOTER == */

.footer-ryhad {
    background-color: white;
    color: #488aab;
    border-left: 1px solid #488aab;
    border-right: 1px solid #488aab;
    box-shadow: 0px 15px 45px 1px rgba(47, 48, 54, 0.25);
    padding: 20px;
    /*padding-top: 20px;*/
    margin-bottom: 10px;
}

.logo>img {
    max-width: 60px;
}

.credit-footer {
    display: flex;
    flex-direction: row;
}

#copyright-footer {
    width: 80%;
    margin-top: 10px;
}

.apropos-contact {
    width: 20%;
    display: flex;
    flex-direction: row;
}

.apropos-contact>p {
    padding-right: 30px;
    text-align: center;
}

/* == END FOOTER == */


@media only screen and (max-width: 1200px) {
    .grid .w-1-4 {
        width: calc(100%/3);
    }
    .grid h2 {
      font-size: 2em;
    }
    .thumbnail .clicon{
      font-size: 2.5em;
    }

}

@media only screen and (max-width: 1000px) {
    .grid .w-1-4 {
        width: 50%;
    }
    .grid h2 {
      font-size: 2.5em;
    }
    .thumbnail .clicon{
      font-size: 3em;
    }
}

@media only screen and (max-width: 768px) {
    .grid .w-1-4 {
        width: 100%;
    }
    .grid h2 {
      font-size: 3em;
    }
    .thumbnail .clicon{
      font-size: 3.5em;
    }
}
