body {
  background-color: #EEEEEE;
}

.poabsul {
  color: #FFF;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(100% - 24px);
  width: calc(100% - 20px);
  opacity: 0;
}

.poabsul:hover {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .grid .w-1-4 {
      width: calc(100%/3);
    }
}

@media only screen and (max-width: 1000px) {
  .grid .w-1-4 {
      width: 50%;
    }
}

@media only screen and (max-width: 768px) {
  .grid .w-1-4 {
      width: 100%;
    }
}
