@charset "UTF-8";

@font-face {
  font-family: "font-icon";
  src:url("fonts/font-icon.eot");
  src:url("fonts/font-icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-icon.woff") format("woff"),
    url("fonts/font-icon.ttf") format("truetype"),
    url("fonts/font-icon.svg#font-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "font-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "font-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\61";
}

body {
    background-color: #EEEEEE;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}


/* == NAV == */

header {
  background-color: #2f3036;
  height: 100px;
  z-index: 5;
  box-shadow: 0 10px 15px #aaa;
}

.logo_simplon_mars {
    height: 80%;
    z-index: 1;
    padding: 1vh 7vw;
}



.hid_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.navi li:hover ul {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.clearnav {
  padding: 0;
}




/* == END NAV == */

.smthumb {
    padding-top: 1em;
    color: white;
}

.thumbnail {
    height: calc(100% - 24px);
    width: calc(100% - 20px);
    margin: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    opacity: 0;
}

.envthumb {
    color: white;
}

.thumbnail:hover {
    opacity: 1;
    transition: opacity 0.5s;
}



.pclicon, .clicon {
    padding: 15px 10px;
}

nav .clicon {
    font-size: 2em;
}

.thumbnail .clicon {
    padding: 15px 2%;
    font-size: 2em;
}

.btn {
    width: 60%;
    margin: 5px;
}

/*h1 {
    margin-top: 150px;
}*/


/* == FOOTER == */

.footer-ryhad {
    background-color: white;
    color: #488aab;
    border-left: 1px solid #488aab;
    border-right: 1px solid #488aab;
    box-shadow: 0px 15px 45px 1px rgba(47, 48, 54, 0.25);
    padding: 20px;
    /*padding-top: 20px;*/
    margin-bottom: 10px;
}

.logo>img {
    max-width: 60px;
}

.credit-footer {
    display: flex;
    flex-direction: row;
}

#copyright-footer {
    width: 80%;
    margin-top: 10px;
}

.apropos-contact {
    width: 20%;
    display: flex;
    flex-direction: row;
}

.apropos-contact>p {
    padding-right: 30px;
    text-align: center;
}


/* == END FOOTER == */

@media only screen and (max-width: 1200px) {
    .grid .w-1-4 {
        width: calc(100%/3);
    }
    .grid h2 {
        font-size: 2em;
    }
    .thumbnail .clicon {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 1000px) {
    .grid .w-1-4 {
        width: 50%;
    }
    .grid h2 {
        font-size: 2.25em;
    }
    .thumbnail .clicon {
        font-size: 3em;
    }

    header {
      background-color: #2f3036;
      height: 150px;
    }
    .simplonlogo{
      display: flex;
      justify-content: center;
      align-items: center;
    }

      .navi input[type=checkbox]:checked~ul:first-of-type {
          transform: translateY(260px);
        }

}

@media only screen and (max-width: 768px) {
    .grid .w-1-4 {
        width: 100%;
    }
    .grid h2 {
        font-size: 3em;
    }
    .thumbnail .clicon {
        font-size: 1.5em;
        opacity: 1;
    }
    .fa {
    font-size: 2em;
    padding: 0.15em;
  }
    .fa-bars {
        font-size: 15em;
        color: #E50044;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .nav>ul {
        display: block;
        position: relative;
    }
    .nav {
        margin-top: 2%;
    }

    .simplonlogo{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h1 {
        margin-top: 0;
    }
    .grid h2 {
        font-size: 1.5em;
    }
    .thumbnail{
      overflow: hidden;
    }
br{
  display: none;
    }
}
footer > p, footer>div{
  padding-top: 1em;
}
.credit-footer{
    display: inline;
    width: 100%;
}
